@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

@layer base {
    :root {
        --color-primary: #474747;
        --color-gray: #F9F9F7;
        --color-red: #AD343E;
    }
}

.main {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 120px 24px 160px 24px;
    pointer-events: none;

}

.main:before {
    background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
    position: absolute;
    content: "";
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
}

.main:after {
    content: "";
    background-image: url("/assets/images/grid.svg");
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.4;
    filter: invert(1);
}

.gradient {
    height: fit-content;
    z-index: 3;
    width: 100%;
    max-width: 640px;
    background-image: radial-gradient(at 27% 37%,
            hsla(215, 98%, 61%, 1) 0px,
            transparent 0%),
        radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
        radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
        radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
        radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
        radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(150%);
    top: 80px;
    opacity: 0.15;
}

@media screen and (max-width: 640px) {
    .main {
        padding: 0;
    }
}

/* icon style */
.st0 {
    fill:none;
    stroke:--color-primary;
    stroke-width:2;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
}

/* Tailwind Styles */

.text_white{
    @apply text-white font-normal !important;
}

.font_playfair{
    @apply font-playfair italic flex items-center justify-center;
}
.app {
    @apply relative z-10 flex justify-center items-center w-full;
}

.body{
    @apply app pt-32 relative
}

.padding_content{
    @apply relative z-10 flex justify-center items-center sm:px-16 px-6;
}

.box-content{
    @apply flex items-center pr-4 text-white text-xs font-thin;
}

.border_icon{
    @apply rounded-full w-8 h-8 flex mx-1 justify-center items-center;
}

.primary_btn {
    @apply rounded-full h-fit bg-white px-5 py-3 font-medium transition-all hover:bg-[#DBDFD0] text-center text-sm flex items-center justify-center;
}

.black_btn {
    @apply rounded-full border border-black bg-black py-3 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm flex items-center justify-center;
}

.outline_btn {
    @apply rounded-full border border-black bg-transparent py-3 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm flex items-center justify-center;
}

.red_btn {
    @apply rounded-full border border-[--color-red] bg-[--color-red] py-3 px-5 text-white transition-all hover:bg-white hover:text-[--color-red] text-center text-sm flex items-center justify-center;
}

.footer_text {
    @apply font-sans text-[#ADB29E] text-xs font-thin;
}

.orange_gradient {
    @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
    @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
    @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.search_input {
    @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.copy_btn {
    @apply w-7 h-7 rounded-full bg-white/10  backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
    @apply rounded-xl border border-gray-200 bg-white/20 backdrop-blur p-5;
}

.rounded_image {
    background-color: white;
    border-radius: 40%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    filter: brightness(0.5) blur(0.5px);
    padding: 5px;
    margin-right: 10px;
}

.section{
    @apply flex w-full justify-center items-center px-6 sm:px-16 py-2 sm:py-12
}

.section_between {
    @apply flex w-full justify-between items-center px-6 sm:px-16 py-2 sm:py-12
}

.header_content{
    @apply font_playfair text-2xl md:text-4xl font-medium not-italic !important
}

